@tailwind base;

@tailwind components;

@tailwind utilities;

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

svg text {
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
}